button {
  background-color: #300d38;
  border-radius: 100px;
  border: none;
  padding: 0.75rem 1.5rem;
  color: white;
  font-weight: bolder;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color .3s;
}

button:hover {
  background-color: #890a74;
}
button:active {
  background-color: #ffa900;
}

.form-wrapper {
  width: 80%;
  margin: 5rem auto;
  max-width: 800px;
}

form {
  margin-bottom: 2rem;
}

.form-field {
  margin-bottom: 1rem;
}

label {
  font-weight: 600;
  font-size: 1.625rem;
}

input {
  padding: 1rem;
  margin-top: .5rem;
  display: block;
  width: 100%;
  border: 1px solid black;
}

select {
  display: block;
  margin-top: .5rem;
}

@media screen and (max-width: 381px) {
  .form-wrapper {
    margin: 2rem auto;
  }
}