button {
  background-color: #300d38;
  border-radius: 9999px;
  border: none;
  padding: 0.5rem 1.25rem;
  color: white;
  font-weight: 500;
}

button:hover {
  background-color: #890a74;
}
button:active {
  background-color: #ffa900;
}

.form-wrapper {
  display: flex;
  justify-content: center;
}

.form-field {
  margin-bottom: 1rem;
}

label {
  font-weight: 600;
  font-size: 1.625rem;
}

input {
  padding: .75rem;
  margin-top: .5rem;
  display: block;
  width: 300px;
  border: 1px solid black;
}