@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

.header {
    background-color: #c7c1e0;
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-weight: 500;
    font-size: clamp(2.75rem, 6vw, 3.5rem);
    text-align: center;
    padding: 2rem 0;
}